.detail {
  background: white;
  padding: 16px;
  border-radius: 8px;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #424242;
    margin-bottom: 32px;
  }
}

.detail-table {
  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #BDBDBD;
    margin-right: 15px;
  }

  &__table-container {
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 1px;
    border-radius: 8px;
    padding: 24px;

    &__title {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #757575;
      margin-bottom: 24px;
    }
  }

  &__status {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 3px;

    &--green {
      border-color: #069550;
      color: #069550;
    }

    &--red {
      border-color: #EF5350;
      color: #EF5350;
    }
  }

  &__not-update {
    color: #BDBDBD;
  }

  &__input {
    &__label {
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      color: #424242;
      margin-top: 32px;
    }
  }

  &__arrow {
    &--right {
       transform: rotate(270deg);
     }

    &:hover {
      cursor: pointer;
    }
  }
}
